@import "../../../Styles/variables.scss";
@import "../../../Styles/responsive.scss";

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  color: $secondary-color;

  font-size: 1.5rem;

  // Styles the name introduction.
  &__name {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid $accent-color;
  }
}

// RESPONSIVE STYLING
@include media-md {
  .intro {
    font-size: 3rem;

    &__name {
      font-size: 5rem;
    }
  }
}
