@import "../../Styles/variables.scss";
@import "../../Styles/animations";

.menu-btn {
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: 1rem;

  cursor: pointer;

  color: $secondary-color;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;

  opacity: 0.8;

  .nav-menu {
    @include transition-ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background-color: lighten($primary-color, 10%);

    // Hides navbar offscreen.
    transform: translateX(100%);

    // Displays navbar by putting it back on screen.
    &.open {
      transform: translateX(0);
    }

    &.open .nav-menu__item {
      // Bounce animation for navbar items.
      // When navbar opened, link items will bounce before being centered.
      @include keyframes(bounce) {
        0% {
          transform: translateX(100vw);
        }
        80% {
          transform: translateX(-5vw);
        }
        100% {
          transform: translateX(0);
        }
      }
      // Animation- name, duration, timing-function, iteration-count
      @include animate(bounce, 0.4s, linear, 1);
    }

    // Styles for each item.
    &__item {
      padding: 2rem 0;
      font-size: 3rem;
    }

    // Styles for each link.
    &__link {
      color: $secondary-color;
      display: inline-block;

      text-decoration: none;
      text-transform: uppercase;

      // Highlights links on hover
      &:hover {
        color: darken($hover-color, 20%);
      }

      // Highlights link of active page.
      &.active {
        color: darken($primary-color, 50%);
      }
    }
  }
}
