@import "../../Styles/variables.scss";
@import "../../Styles/animations";

.menu-btn {
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: 1rem;

  cursor: pointer;

  color: $secondary-color;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;

  opacity: 0.8;

  .nav-menu {
    @include transition-ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background-color: $primary-color;

    // Hides navbar offscreen.
    transform: translateX(100%);

    // Displays navbar by putting it back on screen.
    &.open {
      transform: translateX(0);
    }

    // Styles for each item.
    &__item {
      padding: 2rem 0;
      font-size: 3rem;
    }

    // Styles for each link.
    &__link {
      color: $secondary-color;
      display: inline-block;

      text-decoration: none;
      text-transform: uppercase;

      // Highlights links on hover
      &:hover {
        color: yellow;
      }

      // Highlights link of active page.
      &.active {
        color: darken($primary-color, 50%);
      }
    }
  }
}
