@import "../../../Styles/variables.scss";
@import "../../../Styles/responsive.scss";

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;

  padding: 4rem 0;

  height: 100vh;
  color: $secondary-color;

  gap: 2rem;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1rem;

    gap: 0.5rem;
  }
}

// RESPONSIVE STYLINGS
@include media-md {
  .about {
    padding: 8rem 0;

    height: 150vh;

    &__list {
      font-size: 2rem;
    }
  }
}
