@import "../../Styles/variables";
@import "../../Styles/animations";
@import "../../Styles/responsive";

.page__app {
  background-color: $background-color;

  font-family: "Nova Square";
  overflow-x: hidden; // Prevents whitespace on right of screen during slide in animations of intro
}

@font-face {
  font-family: "Nova Square";
  src: url("../../fonts/NovaSquare-Regular.ttf");
}
